<md-content layout="column" layout-align="center center">

<div class="app-content">
<form ng-submit="search()">
 <div ng-show="!Searching">
            <md-input-container>
     <label>Search for</label>
     <input ng-model="searchTerm">
           </md-input-container>
 </div>
<md-progress-circular ng-if="Searching"md-mode="indeterminate"></md-progress-circular>
      
</form>
<!-- Carousel...Show on first page view only -->
<div class="frontImg" ng-if="firstTime">
	


</div>


<!-- Search Results -->
<div class="md-padding" layout="row" layout-wrap>
    <md-card style='width: 300px;' ng-repeat="picture in results.data.photos.photo">
<img ng-src="https://farm{{picture.farm}}.staticflickr.com/{{picture.server}}/{{picture.id}}_{{picture.secret}}_b.jpg">
<h3>{{picture.title | limitTo: 30}}</h3>
</md-card>
       

    </div>
<!-- End Search Results -->

</div>


</md-content>