<md-content layout="column" layout-align="center center">

<div class="app-content">

  <!-- Search Form -->
<form ng-submit="search()">
 <div ng-show="!Searching && firstTime">
            <md-input-container>
     <label>Search for</label>
     <input ng-model="searchTerm">
           </md-input-container>
 </div>

 <!-- Row for Search Term and Search Again button -->
 <div layout="row">
  <div><h1>{{searchTerm}}</h1></div>
  <span flex></span>
 <div ng-show="!firstTime" layout-align = "center end">
   <md-button ng-click="refresh()" class="md-primary md-raised">Search Again</md-button>
 </div>
</div>
   
</form>

<!-- ...Image to show on first page view only -->
<div class="frontImg" ng-if="firstTime">
</div>

<!-- Progress Circle -->
<div>
   <md-progress-circular ng-if="Searching" md-mode="indeterminate" layout-align="center center"></md-progress-circular>
</div>

<!-- Search Results -->
<div class="dynamic-grid" angular-grid ="results.data.photos.photo" ag-grid-width="300" ag-gutter-size="10" ag-id="gallery" ag-refresh-on-img-load="true">

	<div class="grid" ng-repeat="picture in results.data.photos.photo">
		<img class="grid-img" ng-src="https://farm{{picture.farm}}.staticflickr.com/{{picture.server}}/{{picture.id}}_{{picture.secret}}_n.jpg">
	</div>
</div>
       
<!-- End Search Results -->

</div>


</md-content>